{% extends 'base.html' %}

{% block title %}
    重置密码 - 开始
{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>重置密码</h1>
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            <div class="form-group-lg">
                <label class="col-xs-4 offset-xs-2 control-label text-right">注册使用的邮箱：</label>
                <div class="col-xs-4 text-left">{{ form.email }}</div>
            </div>
            <input type="submit" class="col-xs-2 btn btn-primary" value="重置密码">
        </form>
    </div>
{% endblock %}