{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
        footer {
            padding: 15px;
            background: #8c8989;
            text-align: center;
        }

        footer nav {
            margin: auto;
            width: 300px;
        }

        .row {
            margin-top: 15px;
            margin-bottom: 8px;
        }

        .form-control {
            border: none;
        }

        {% block style %}

        {% endblock %}
    </style>
</head>
<body>
{% include 'header.html' %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="main col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>
{% include 'footer.html' %}
{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>