{% load staticfiles %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" style="background-color: #C1F48C;">
        <div class="navbar-header">
            <img src="{% static 'images/articuly.jpg' %}" width=64 height=64>

        </div>
        <div>
            <ul class="'nav navbar-nav">
                <li><a href="{% url 'blog:blog_title' %}">BLOG</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu"
                                data-toggle="dropdown">
                            {{ user.username }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                            <li><a href="{% url 'account:password_reset' %}">重置密码</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="{% url 'account:user_logout' %}">退出</a></li>
                        </ul>
                    </div>
                {% else %}
                    <li><a href="{% url 'account:user_login' %}">登陆</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
